<div>
    <button mat-button-raised (click)="newJob()">New Chore</button>
</div>
<div>
    <table mat-table [dataSource]="chores">
        <ng-container matColumnDef="chorename">
            <th mat-header-cell *matHeaderCellDef> Chore </th>
            <td mat-cell *matCellDef="let chore">{{chore.chorename}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let chore">{{chore.description}}</td>
        </ng-container>
        <ng-container matColumnDef="cycleRate">
            <th mat-header-cell *matHeaderCellDef> Cycle </th>
            <td mat-cell *matCellDef="let chore">{{chore.cycleRate}}</td>
        </ng-container>
        <ng-container matColumnDef="cycleType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let chore">{{chore.cycleType}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let chore; columns: displayedColumns;"></tr>
    </table>
</div>