<div>Create New Job</div>

<div>
    <form [formGroup]="formGroup" (ngSubmit)="submitChore()">
        <mat-form-field>
            <mat-label>Job Name</mat-label>
            <input matInput type="text" formControlName="chorename">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cycle Rate</mat-label>
            <input matInput type="number" formControlName="cycleRate">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cycle Type</mat-label>
            <mat-select formControlName="cycleType">
                <mat-option [value]=null>None</mat-option>
                <mat-option [value]="1">Day</mat-option>
                <mat-option [value]="2">Week</mat-option>
                <mat-option [value]="3">Month</mat-option>
                <mat-option [value]="4">Year</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Active Season</mat-label>
            <mat-select formControlName="activeSeason" name="activeSeason">
                <mat-option *ngFor="let season of activeSeason" [value]="season.id">
                    {{season.seasonname}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <button [disabled]="!formGroup.valid" mat-raised-button type="submit">CREATE</button>
        <button (click)="cancel()">CANCEL</button>
    </form>
</div>

